# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Local database and data cache
*.db
uploads/*
!uploads/.gitkeep

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
